@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.slate.900");
  background-image: url("/background.webp");
  background-color: theme("colors.slate.200");
  background-size: 100%;
  background-repeat: no-repeat;
}
